@use "sass:meta";
@use 'responsive/reset.scss';
@use 'components/font.scss';

@use 'components/theme.scss';
@use 'components/header.scss';
@use 'components/footer.scss';
@use 'components/portfolio.scss';
@use 'components/card.scss';
@use 'components/button.scss';


:root {
    background: #f9e7ca;
}

body {
    font-family: 'Playwrite';
    background: #f9e7ca;
    // max-width: 1440px;
    // height: 100vh;
    margin: 0 auto;
}

.body--Vols {
    background: theme.$white;
}

.sectionLocation {
    margin: 110px 15px;

    .sectionLocation__Header {
        margin: 15px 5px 24px 5px;

        h2 {
            display: inline-block;
            font-size: 100%;
            border-bottom: 2px solid rgba($color: theme.$yellow, $alpha: .5);
            margin-bottom: 10px;
        }

        p {
            font-size: 90%;
            margin: 0 0 10px 10px;
        }
    }
    
    .sectionLocation__Articles {
        margin: 15px;
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        overflow: scroll;
        scrollbar-width: none;
    }

    .sectionLocation__More {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            display: inline-block;
            font-size: 80%;
            border-bottom: 2px solid rgba($color: theme.$yellow, $alpha: .5);
        }

        .sectionLocation__More__Link {
            margin: 0;
            @include button.button--style;
        }
    }
}

.sectionActivity {
    margin: 80px 20px;
    padding: 15px 0;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba($color: theme.$indigo, $alpha: .7) 20%, rgba($color: theme.$yellow, $alpha: .9));

    .sectionActivity__Header {
        margin: 0 15px;

        h2 {
            display: inline-block;
            font-size: 100%;
            border-bottom: 2px solid rgba($color: theme.$yellow, $alpha: .5);
            margin-bottom: 10px;
        }

        p {
            font-size: 90%;
            margin: 0 0 10px 10px;
        }
    }

    .sectionActivity__Articles {
        margin: 15px 0 0 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 25px;
        overflow: scroll;
        scrollbar-width: none;
    }
}

.sectionRdv {
    margin: 110px 35px;
    padding: 5px;
    background: rgba($color: theme.$indigo, $alpha: .1);
    border: 2px solid theme.$grey;

    .sectionRdv__Header {
        margin: 15px 5px 24px 5px;

        h2 {
            display: inline-block;
            font-size: 100%;
            border-bottom: 2px solid rgba($color: theme.$yellow, $alpha: .5);
            margin-bottom: 10px;
        }

        p {
            font-size: 90%;
            margin: 0 0 10px 10px;
        }
    }

    .sectionRdv__Form {
        margin: 0 10px;
        padding: 10px;
        border: 2px dashed rgba($color: theme.$yellow, $alpha: .9);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sectionRdv__Form__Box {
        display: flex;
        gap: 15px;

        .form__Item {
            font-family: 'Playwrite';
            font-size: 15px;
            font-weight: 100;
            min-width: 0;
            min-height: 45px;
            flex: auto;
            background: rgba($color: theme.$white, $alpha: .5);
            border: 1px solid rgba($color: theme.$grey, $alpha: 1.0);
            border-radius: 10px;
            color: rgba($color: theme.$yellow, $alpha: .8);
        }

        .form__Item::placeholder {
            font-weight: 100;
            opacity: .8;
            color: theme.$black;
            font-weight: bold;
            font-size: 70%;
        }

        .form__Item:focus {
            outline: 1px solid rgba($color: theme.$yellow, $alpha: .9);
            background: rgba($color: theme.$white, $alpha: 0);
            // border-color: rgba($color: $yellow, $alpha: .9);
        }

        textarea {
            height: 100px;
        }

        button {
            font-family: 'Playwrite';
            @include button.button--style;
        }
    }

    .sectionRdv__Map {
        margin: 10px 0;
        display: flex;

        iframe {
            // min-width: 0;
            height: 400px;
            flex: auto;
        }
    }
}

.sectionVol {
    margin: 0px 10px 60px 10px;
    padding: 5px;
    background: rgba($color: theme.$indigo, $alpha: .1);
    border: 2px solid theme.$grey;

    .sectionVol__Header {
        margin: 15px 5px 24px 5px;
        display: inline-block;
        font-size: 90%;
        border-bottom: 2px solid rgba($color: theme.$yellow, $alpha: .5);
        margin-bottom: 10px;
    }

    .sectionVol__Text {
        font-size: 70%;
        margin: 0 0 24px 10px;
    }

    .sectionVol__Form {
        margin: 0 10px;
        padding: 10px;
        border: 2px dashed rgba($color: theme.$yellow, $alpha: .9);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sectionVol__Form__Box {
        display: flex;
        gap: 10px;

        .form__Item {
            font-family: 'Playwrite';
            min-width: 0;
            height: 50px;
            flex: auto;
            background: rgba($color: theme.$white, $alpha: .5);
            border: 1px solid rgba($color: theme.$grey, $alpha: 1.0);
            border-radius: 10px;
            color: rgba($color: theme.$yellow, $alpha: .8);
        }

        .form__Item::placeholder {
            opacity: .8;
            color: theme.$black;
            font-weight: bold;
            font-size: 70%;
        }

        .form__Item:focus {
            outline: 1px solid rgba($color: theme.$yellow, $alpha: .9);
            background: rgba($color: theme.$white, $alpha: 0);
        }

        textarea {
            height: 100px;
        }

        button {
            font-family: 'Playwrite';
            @include button.button--style;
        }
    }

    .sectionVol__Form__Box:last-child {
        justify-content: flex-end;
    }
}

@include meta.load-css('about.scss');


@media only screen and (min-width: 518px) {
    .sectionRdv {
        max-width: 65vw;
    }
    
}

@media only screen and (min-width: 810px) {
    @include meta.load-css('responsive/tablet.scss');
}

@media only screen and (min-width: 1024px) {
    @include meta.load-css('responsive/desktop.scss');
}
