/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Playwrite";
  src: url(font/PlaywriteRegular.ttf) format("truetype");
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 1;
  overflow: hidden;
  font-size: 11px;
  font-weight: 800;
  color: #e5e5e5;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 33, 61, 0.9);
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header .header__Logo {
  margin: auto 0;
}
.header .header__Logo .header__Logo__Link {
  display: flex;
  align-items: center;
}
.header .header__Logo .logo__Link__Image {
  width: 60px;
  height: auto;
}
.header .subbar {
  display: flex;
}
.header .subbar li {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.header .subbar__Link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  margin: 15px 5px;
  height: 36px;
  background-color: inherit;
  border-radius: 10px;
  color: #FCA311;
  transition: all 0.5s ease-in;
}
.header .subbar__Link .subbar__Link__Icon {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.3s linear;
}
.header .subbar__Link:hover {
  color: #14213D;
  background-color: #FCA311;
  border-radius: 10px;
  padding: 0 15px;
}
.header .subbar__Link:hover .subbar__Link__Icon {
  visibility: visible;
  opacity: 1;
}

.footer {
  font-family: sans-serif;
  min-height: 102.2px;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  background-color: rgba(1, 1, 1, 0.8);
}
.footer .footer__Element__Title {
  display: inline-block;
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  border-left: 2px rgba(229, 229, 229, 0.6) solid;
  color: rgba(1, 1, 1, 0.6);
}
.footer .footer__Element__Content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.footer span {
  color: rgba(1, 1, 1, 0.6);
}
.footer a {
  display: inline-block;
  color: #14213D;
}
.footer a:hover {
  color: #FCA311;
}
.footer .footer__Copyright {
  margin: auto;
  font-size: 10px;
}

.portfolio {
  width: 100%;
  height: 386px;
  position: sticky;
  margin-bottom: 32px;
  overflow: hidden;
}

.portfolio__Text {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
  z-index: 9998;
}
.portfolio__Text .portfolio__Text__Content {
  color: #f2f2f2;
}
.portfolio__Text .portfolio__Text__Content strong {
  font-size: 120%;
  color: #14213D;
  text-transform: uppercase;
  border-bottom: solid 2px #FCA311;
}
.portfolio__Text .portfolio__Text__Content p {
  width: 75%;
  margin: 15px auto auto auto;
  line-height: 1.9;
  font-size: 85%;
}
.portfolio__Text .portfolio__Text__Content a {
  font-size: 80%;
  background: #FCA311;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #202020;
  margin-top: 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.portfolio__Text .portfolio__Text__Content a:hover {
  background: transparent;
  border: 2px solid #FCA311;
  color: #FCA311;
}

.portfolio__Slides {
  list-style: none;
}
.portfolio__Slides, .portfolio__Slides:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.portfolio__Slides li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  z-index: 0;
  animation: animate 25s linear infinite 0s;
}
.portfolio__Slides li:nth-child(1) span {
  background-image: url(assets/a1.jpg);
}
.portfolio__Slides li:nth-child(2) span {
  background-image: url(assets/a2.jpg);
  animation-delay: 5s;
}
.portfolio__Slides li:nth-child(3) span {
  background-image: url(assets/a3.jpg);
  animation-delay: 10s;
}
.portfolio__Slides li:nth-child(4) span {
  background-image: url(assets/a4.jpg);
  animation-delay: 15s;
}
.portfolio__Slides li:nth-child(5) span {
  background-image: url(assets/a5.jpg);
  animation-delay: 20s;
}
.portfolio__Slides li:nth-child(6) span {
  background-image: url(assets/a6.jpg);
  animation-delay: 25s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
.card {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 3px 1px rgba(226, 226, 226, 0.7);
  margin: 5px auto;
  overflow: hidden;
}

.cardCountry {
  width: 265px;
  height: 215px;
}
.cardCountry img {
  width: 265px;
  height: 150px;
}
.cardCountry .cardText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 8px;
  line-height: 1.3;
  font-size: 83%;
}
.cardCountry .cardText h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
.cardCountry .cardText p {
  font-size: 80%;
}

.cardHome {
  width: 155px;
  height: 165px;
  position: relative;
  margin: 15px;
  box-shadow: 1px 3px 3px 1px transparent;
}
.cardHome img {
  height: 100%;
}
.cardHome .cardText {
  color: #f2f2f2;
  font-size: 85%;
  position: absolute;
  bottom: 15px;
  right: 10px;
  text-align: end;
  z-index: 2;
}

:root {
  background: #f9e7ca;
}

body {
  font-family: "Playwrite";
  background: #f9e7ca;
  max-width: 1440px;
  margin: 0 auto;
}

.body--Vols {
  background: #f2f2f2;
}

.sectionLocation {
  margin: 40px 0;
}
.sectionLocation .sectionLocation__Header {
  margin: 15px 5px 24px 5px;
}
.sectionLocation .sectionLocation__Header h2 {
  display: inline-block;
  font-size: 80%;
  border-bottom: 2px solid rgba(252, 163, 17, 0.5);
  margin-bottom: 10px;
}
.sectionLocation .sectionLocation__Header p {
  font-size: 70%;
  margin: 0 0 10px 10px;
}
.sectionLocation .sectionLocation__Articles {
  margin: 15px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow: scroll;
  scrollbar-width: none;
}
.sectionLocation .sectionLocation__More {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionLocation .sectionLocation__More h3 {
  display: inline-block;
  font-size: 80%;
  border-bottom: 2px solid rgba(252, 163, 17, 0.5);
}
.sectionLocation .sectionLocation__More .sectionLocation__More__Link {
  font-size: 80%;
  background: #FCA311;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #202020;
  margin-top: 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
  margin: 0;
}
.sectionLocation .sectionLocation__More .sectionLocation__More__Link:hover {
  background: transparent;
  border: 2px solid #FCA311;
  color: #FCA311;
}

.sectionActivity {
  padding: 15px 0;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(20, 33, 61, 0.7) 20%, rgba(252, 163, 17, 0.9));
}
.sectionActivity .sectionActivity__Header {
  margin: 0 15px;
}
.sectionActivity .sectionActivity__Header h2 {
  display: inline-block;
  font-size: 80%;
  border-bottom: 2px solid rgba(252, 163, 17, 0.5);
  margin-bottom: 10px;
}
.sectionActivity .sectionActivity__Header p {
  font-size: 70%;
  margin: 0 0 10px 10px;
}
.sectionActivity .sectionActivity__Articles {
  margin: 15px 0 0 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  overflow: scroll;
  scrollbar-width: none;
}

.sectionRdv {
  margin: 50px 10px;
  padding: 5px;
  background: rgba(20, 33, 61, 0.1);
  border: 2px solid #e5e5e5;
}
.sectionRdv .sectionRdv__Header {
  margin: 15px 5px 24px 5px;
}
.sectionRdv .sectionRdv__Header h2 {
  display: inline-block;
  font-size: 80%;
  border-bottom: 2px solid rgba(252, 163, 17, 0.5);
  margin-bottom: 10px;
}
.sectionRdv .sectionRdv__Header p {
  font-size: 70%;
  margin: 0 0 10px 10px;
}
.sectionRdv .sectionRdv__Form {
  margin: 0 10px;
  padding: 10px;
  border: 2px dashed rgba(252, 163, 17, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionRdv .sectionRdv__Form__Box {
  display: flex;
  gap: 10px;
}
.sectionRdv .sectionRdv__Form__Box .form__Item {
  font-family: "Playwrite";
  min-width: 0;
  min-height: 45px;
  flex: auto;
  background: rgba(242, 242, 242, 0.5);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  color: rgba(252, 163, 17, 0.8);
}
.sectionRdv .sectionRdv__Form__Box .form__Item::placeholder {
  opacity: 0.8;
  color: #010101;
  font-weight: bold;
  font-size: 70%;
}
.sectionRdv .sectionRdv__Form__Box .form__Item:focus {
  outline: 1px solid rgba(252, 163, 17, 0.9);
  background: rgba(242, 242, 242, 0);
}
.sectionRdv .sectionRdv__Form__Box textarea {
  height: 100px;
}
.sectionRdv .sectionRdv__Form__Box button {
  font-family: "Playwrite";
  font-size: 80%;
  background: #FCA311;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #202020;
  margin-top: 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.sectionRdv .sectionRdv__Form__Box button:hover {
  background: transparent;
  border: 2px solid #FCA311;
  color: #FCA311;
}
.sectionRdv .sectionRdv__Map {
  margin: 10px 0;
  display: flex;
}
.sectionRdv .sectionRdv__Map iframe {
  min-width: 0;
  flex: auto;
}

.sectionVol {
  margin: 0px 10px 60px 10px;
  padding: 5px;
  background: rgba(20, 33, 61, 0.1);
  border: 2px solid #e5e5e5;
}
.sectionVol .sectionVol__Header {
  margin: 15px 5px 24px 5px;
  display: inline-block;
  font-size: 90%;
  border-bottom: 2px solid rgba(252, 163, 17, 0.5);
  margin-bottom: 10px;
}
.sectionVol .sectionVol__Text {
  font-size: 70%;
  margin: 0 0 24px 10px;
}
.sectionVol .sectionVol__Form {
  margin: 0 10px;
  padding: 10px;
  border: 2px dashed rgba(252, 163, 17, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionVol .sectionVol__Form__Box {
  display: flex;
  gap: 10px;
}
.sectionVol .sectionVol__Form__Box .form__Item {
  font-family: "Playwrite";
  min-width: 0;
  height: 50px;
  flex: auto;
  background: rgba(242, 242, 242, 0.5);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  color: rgba(252, 163, 17, 0.8);
}
.sectionVol .sectionVol__Form__Box .form__Item::placeholder {
  opacity: 0.8;
  color: #010101;
  font-weight: bold;
  font-size: 70%;
}
.sectionVol .sectionVol__Form__Box .form__Item:focus {
  outline: 1px solid rgba(252, 163, 17, 0.9);
  background: rgba(242, 242, 242, 0);
}
.sectionVol .sectionVol__Form__Box textarea {
  height: 100px;
}
.sectionVol .sectionVol__Form__Box button {
  font-family: "Playwrite";
  font-size: 80%;
  background: #FCA311;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #202020;
  margin-top: 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.sectionVol .sectionVol__Form__Box button:hover {
  background: transparent;
  border: 2px solid #FCA311;
  color: #FCA311;
}
.sectionVol .sectionVol__Form__Box:last-child {
  justify-content: flex-end;
}

.title {
  display: inline-block;
}

.title--Small {
  font-size: 28px;
  line-height: 36px;
}

.title__Icon {
  min-width: 56px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title__Icon .icon {
  font-size: 150%;
}

.mainHero {
  color: #ffffff;
  text-align: center;
  max-width: 343px;
  margin: 32px auto;
}
.mainHero .mainHero__Header {
  margin-bottom: 19px;
}
.mainHero .mainHero__Link {
  margin-top: 19px;
  display: inline-block;
}

.sectionAbout {
  position: relative;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 44px;
}
.sectionAbout .sectionAbout__Image {
  width: 320px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}
.sectionAbout .sectionAbout__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sectionAbout .sectionAbout__Content .sectionAbout__Element {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
.sectionAbout .sectionAbout__Content .sectionAbout__Element__Text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}
.sectionAbout .sectionAbout__Content .sectionAbout__Element__Icon,
.sectionAbout .sectionAbout__Content .sectionAbout__Element__Text__Title {
  color: #24053e;
}
.sectionAbout .sectionAbout__Content p {
  color: #584d62;
}

@media only screen and (min-width: 768px) {
  .title--Small {
    font-size: 28px;
    line-height: 36px;
  }
  .title__Icon {
    min-width: 56px;
    min-height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mainHero {
    max-width: 487px;
    margin: 56px auto;
  }
  .sectionAbout {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 36px;
    padding: 0 0 83px 0;
  }
  .sectionAbout .sectionAbout__Content {
    margin: 0 97px;
  }
  .sectionAbout .sectionAbout__Content .sectionAbout__Element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 32px;
  }
  .sectionAbout .sectionAbout__Content .sectionAbout__Element__Text {
    text-align: start;
  }
}
@media only screen and (min-width: 1440px) {
  .mainHero {
    margin: 55px auto 50px auto;
  }
  .sectionAbout {
    gap: 90px;
    padding-bottom: 171px;
  }
  .sectionAbout .sectionAbout__Content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 26px;
  }
  .sectionAbout .sectionAbout__Content .sectionAbout__Element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 56px;
    max-width: 354px;
    margin: 0;
  }
  .sectionAbout .sectionAbout__Content .sectionAbout__Element__Text {
    text-align: center;
    gap: 28px;
  }
  .title__Icon .icon {
    font-size: 200%;
  }
}
@media only screen and (min-width: 810px) {
  .header {
    flex-direction: row;
  }
  .header .subbar__Link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    margin: 15px 5px;
    height: 36px;
    background-color: inherit;
    border-radius: 10px;
    color: #FCA311;
    transition: all 0.5s ease-in;
  }
  .header .subbar__Link .subbar__Link__Icon {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.3s linear;
  }
  .header .subbar__Link:hover {
    color: #14213D;
    background-color: #FCA311;
    border-radius: 10px;
    padding: 0 15px;
  }
  .header .subbar__Link:hover .subbar__Link__Icon {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sectionLocation {
    margin: 60px 0;
  }
  .sectionRdv {
    margin: 70px 15px;
  }
}

/*# sourceMappingURL=style.css.map */
